<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:clank="clank"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="graviton.messaging.clank.web_socket_server.port">8080</parameter>
        <parameter key="graviton.messaging.clank.web_socket_server.host">0.0.0.0</parameter>
    </parameters>

    <services>
        <service id="clank.client_event.listener" class="Graviton\MessagingBundle\EventListener\ClankClientEventListener">
	    <call method="setLogger">
                <argument type="service" id="logger"/>
            </call>
            <tag name="kernel.event_listener" event="clank.client.connected" method="onClientConnect"/>
            <tag name="kernel.event_listener" event="clank.client.disconnected" method="onClientDisconnect"/>
            <tag name="kernel.event_listener" event="clank.client.error" method="onClientError"/>
	</service>
    </services>

    <clank:config>
        <clank:web_socket_server>
	    <clank:port>%graviton.messaging.clank.web_socket_server.port%</clank:port>
	    <clank:host>%graviton.messaging.clank.web_socket_server.host%</clank:host>
	</clank:web_socket_server>
    </clank:config>

</container>
